html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1290px;
    margin: 0px auto;
}

/*Header*/

.topLine {
    background: #f2f2f2;
    padding: 13px 0px;
    font-size: 11px;
    color: #393939;
}
.phone a {
    text-decoration: none;
    color: #393939;
    transition: all .3s ease;
}
.phone a:hover {
    text-decoration: underline;
}
.topLine .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.topLine__menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
.topLine__menu ul li {
    display: inline-block;
    padding: 0 30px;
    border-left: 1px solid #000;
    color: #393939;
}
.topLine__menu ul li:first-child {
    border: none;
}
.topLine__menu ul li:last-child {
    padding-right: 0px;
}
.topLine__menu ul li a {
    color: #393939;
    line-height: 1;
    text-decoration: none;
}
.topLine__menu ul li a:after {
    display: block;
    content: "";
    height: 1.2px;
    margin-top: 1px;
    width: 0%;
    background-color: #000;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.topLine__menu ul li a:hover:after {
    width: 100%;
}

.header {
    padding: 15px 0px;
}
.header .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__menu {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}
.header__menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.header__menu ul li {
    display: inline-block;
    padding: 0 15px;
}
.header__menu ul li:first-child {
    padding-left: 0px;
}
.header__menu ul li:last-child {
    padding-right: 0px;
}
.header__menu ul li a {
    color: #000;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
    transition: color .3s ease;
}
.header__menu ul li a:hover {
    color: #d9bf8f;
}
.header__logo {
    -webkit-flex: 5 0 auto;
    -ms-flex: 5 0 auto;
    flex: 5 0 auto;
    text-align: center;
}
.header__socials_cart {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    padding: 11px 16px 11px 16px;
    text-transform: uppercase;
}
.header__socials_cart .cart {
    position: relative;
    padding-right: 10px;
}

.header__socials {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}
.header__socials_icons {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-right: 20px;
}
.header__socials a {
    color: #d9bf8f;
    text-decoration: none;
    border: 2px solid #d9bf8f;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 15px;
    transition: all .3s ease;
}
.header__socials a:last-child {
    margin-right: 0;
}
.header__socials a:hover {
    border-color: #000;
    color: #000;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 68px;
}
.slider:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 200px 0 200px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
}

.slide {
    text-align: center;
    padding: 140px 0 170px 0;
    max-width: 100%;
    height: auto;
}

.slide img {
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.slideBtn {
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    text-transform: uppercase;
    background: #f09d66;
    color: #fff;
    font-weight: bold;
    padding: 13px 25px;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
}

.slick-dots {
    padding: 0px;
    margin: 0px;
    bottom: 30px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    list-style-type: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.slick-dots li {

}
.slick-dots li button {
    border: none;
    background: url(images2/nav_empty.png) 50% 50% no-repeat;
    background-size: cover;
    width: 18px;
    height: 19px;
    text-indent: -9999px;
    user-select: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background: url(images2/nav_active.png) 50% 50% no-repeat;
    background-size: cover;
}

.slick-arrow {
    height: 0px;
    width: 0px;
    visibility: hidden;
    font-size: 0;
}

/*Header End*/

/*Content*/

.support {
    color: #fff;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px;
}
.support__item {
    background: #d9bf8f;
    width: 33.3333%;
    position: relative;
    padding: 25px 30px;
    height: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.support__item:nth-child(even) {
    background: #000000;
    padding-left: 45px;
    position: relative;
}
.support__item:nth-child(even)::before {
	content: '';
    display: inline-block;
    background: #fff;
    width: 135px;
    height: 113px;
    -webkit-clip-path: polygon(25% 0, 47% 50%, 24% 100%, 1% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(25% 0, 47% 50%, 24% 100%, 1% 100%, 25% 50%, 0% 0%);
    position: absolute;
    left: -34px;
    top: 0;
    z-index: 1;
}
.support__item:nth-child(even)::after {
	content: '';
    display: inline-block;
    background: #fff;
    width: 135px;
    height: 113px;
    -webkit-clip-path: polygon(99% 0%, 74% 50%, 99% 100%, 75% 100%, 50% 50%, 75% 0);
    clip-path: polygon(99% 0%, 74% 50%, 99% 100%, 75% 100%, 50% 50%, 75% 0);
    position: absolute;
    right: -35px;
    top: 0;
    z-index: 1;
}
.support__item .fa {
    font-size: 48px;
    padding-right: 20px;
}
.support__item_name {
    display: block;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.support__item_text {
    display: block;
    font-size: 14px;
}

.section__head {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 60px;
    text-align: center;
    position: relative;
}
.section__head::before {
    content: "";
    height: 1px;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
    background: #eaeaea;
}
.section__head span {
    background: #fff;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 38.333%;
}
.section__head span::before {
    content: "";
    background: url(images2/heading.png) 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 14%;
    top: 50%;
    margin-top: -10px;
}
.section__head span::after {
    content: "";
    background: url(images2/heading.png) 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 14%;
    top: 50%;
    margin-top: -10px;
}

.featured__items {
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    align-content: space-between;
    grid-auto-flow: column;
    margin-bottom: 90px;
}
.featured__items_item {
    display: block;
    position: relative;
    transition: color 0.25s;
}
.featured__items_item:nth-child(3) {
    grid-row: span 2;
}
.featured__items_item:nth-child(3n-1) {
    align-self: end;
}
.featured__item_hover {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    position: absolute;
    width: 91%;
    height: 89%;
    top: 6%;
    left: 5%;
    right: 5%;
    bottom: 6%;
    background: rgba(0, 0, 0, 0.24);
    border: 3px solid #000;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.01);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.featured__items_item::after {
    content: "";
    width: 90%;
    height: 88%;
    background: none;
    display: block;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
    position: absolute;
    top: 6%;
    left: 5%;
    right: 5%;
    bottom: 6%;
    z-index: 2;
    opacity: 1;
    visibility: visible;
}
.featured__items_item::before {
    content: "";
    width: 90%;
    height: 88%;
    background: none;
    display: block;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 3px;
    position: absolute;
    top: 6%;
    left: 5%;
    right: 5%;
    bottom: 6%;
    z-index: 2;
    opacity: 1;
    visibility: visible;
}
.featured__items_item:after,
.featured__items_item:before {
}
.featured__items_item:nth-child(3)::after {
    height: 94%;
    bottom: 3%;
    top: 3%;
}
.featured__items_item:nth-child(3)::before {
    height: 94%;
    top: 3%;
    bottom: 3%;
}
.featured__items_item:nth-child(3):hover:before {
    top: 3%;
    bottom: 3%;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s, opacity 0.01s ease 0.5s;
}
.featured__items_item:nth-child(3):hover:after {
    bottom: 3%;
    top: 3%;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s, opacity 0.01s ease 0.5s;
}
.featured__items_item:hover:before {
    top: 6%;
    left: 5%;
    opacity: 0;
    transition: height 0.2s ease-out, width 0.2s ease-out 0.2s, opacity 0.01s ease 0.4s;
}
.featured__items_item:hover:after {
    right: 5%;
    bottom: 6%;
    opacity: 0;
    transition: width 0.2s ease-out, height 0.2s ease-out 0.2s, opacity 0.01s ease 0.4s;
}
.featured__items_item:hover:after,
.featured__items_item:hover:before {
    width: 0;
    height: 0;
}
.featured__items_item:nth-child(3) .featured__item_hover {
    height: 95%;
    top: 3%;
    bottom: 3%;
}
.featured__items_item:hover .featured__item_hover {
    opacity: 1;
    visibility: visible;
}
.featured__items_item:hover::after {
    /* opacity: 0; */
    /* visibility: hidden; */
}
.btn {
    color: #fff;
    background: #ffa200;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14.5px;
    line-height: 29px;
    padding: 5px 10px;
    border: 1px solid #ffa200;
    transition: background .3s ease;
}
.btn:hover {
    background: none;
}
.featured__item_hover img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -30px;
}
.featured__item_hover .btn {
    position: absolute;
    top: 50%;
    margin-top: 105px;
    left: 50%;
    margin-left: -50px;
}

.summerCollection__catalog {
    border: 1px solid #eaeaea;
    padding: 18px;
    display: grid;
    justify-items: stretch;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 20px;
    margin-bottom: 100px;
}
.summerCollection__catalog_item {
    position: relative;
}

.catalog__sticker {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    line-height: 62px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding-left: 3px;
}
.sale_sticker {
    background: #feab12;
    color: #fff;
}
.percent {
    line-height: 62px;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    padding-left: 3px;
    margin-top: -3px;
}
.catalog__buy_btn {
    display: block;
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    transition: color .3s ease;
}
.catalog__buy_btn_bg {
    position: absolute;
    bottom: 0;
    left: 20%;
    border-bottom: 45px solid #000;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    transition: all .3s ease;
    width: 60%;
}
.summerCollection__catalog_item:nth-child(4n-3) .catalog__buy_btn_bg {
    border-bottom: 45px solid #f0975c;
}
.summerCollection__catalog_item:nth-child(4n-3) .catalog__buy_btn_bg:hover,
.catalog__buy_btn_bg:hover {
    border-bottom-color: rgba(255, 255, 255, 0.7803921568627451) !important;
}
.catalog__buy_btn:hover + .catalog__buy_btn_bg {
    border-bottom-color: rgba(255, 255, 255, 0.7803921568627451) !important;
}
.catalog__buy_btn:hover {
    color: #000;
}
.catalog__image {
    position: relative;
}
.catalog__image:after {
    content: "";
    opacity: 0;
    transition: opacity .3s ease;
}
.summerCollection__catalog_item:hover .catalog__image:after {
    content: "";
    background: #000;
    opacity: 0.55;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity .3s ease;
}
.brands__gallery {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 140px;
    margin-top: 100px;
}
.brands__gallery_item img {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}
.brands__gallery_item:hover img {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.reviews__block {
    background: #d9bf8f;
    position: relative;
}
.reviews__block:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 200px 0 200px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
}
.reviews__block_wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.reviews__block_item {
    width: 50%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 40px 0 50px;
}
.reviews__block_item:nth-child(even) {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.review__content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 2px;
}
.reviews__block_item:nth-child(even) .review__content {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
}

.review__content_text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 45px;
}
.review__content_name {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
    color: #000;
}
.review__content_position {
    font-weight: bold;
    color: #7f7e7e;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
}
/*Content End*/

/*Footer*/
footer {
    background: #141414;
    color: #fff;
    padding: 60px 0 100px;
}
.footer {
    padding-bottom: 80px;
}
.footer__column_name {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
}
.footer__column_name .italic {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    padding: 0 10px;
}
.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: start;
}
.footer__column_menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer__column_menu a {
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #737373;
    transition: all .3s ease;
}
.footer__column_menu a:hover {
    color: #fff;
}
.footer__column_socials {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.footer__column_socials a {
    width: 52px;
    height: 52px;
    background: #fff;
    color: #141414;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin-right: 15px;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}
.footer__column_socials a:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.footer__column_socials a .fa {
    font-size: 24px;
    line-height: 54px;
}
.subscribe__form {
    border: 1px solid #484848;
    padding: 3px;
    border-radius: 2px;
}
.subscribe__form input[type=text] {
    background: #141414;
    border: none;
    padding: 2px;
    line-height: 36px;
    padding: 0px 15px 0 20px;
    width: 80%;
    outline: none;
    color: #fff;
}
.subscribe__form input[type=submit] {
    background: #323030;
    border: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    border-radius: 2px;
    padding: 0 20px;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
}
.subscribe__form input[type=submit]:hover {
    background: #434141;
}
.subscribe__form form {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bottomInfo .container {
    border-top: 1px solid #363636;
    padding-top: 25px;
    position: relative;
}
.bottomInfo .container:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0 12px;
    border-color: #363636 transparent transparent transparent;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -12px;
}
.copyright {
    color: #363636;
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 20px;
}
.cards {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.cards img {
    display: inline-block;
    margin-right: 25px;
}

#topBtn {
    background: rgba(0, 0, 0, 0.56);
    text-align: center;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 35px;
    right: 50%;
    margin-right: -700px;
}
#topBtn .fa {
    line-height: 36px;
}
/*Footer End*/

@media (max-width: 1300px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .support__item_name {
        font-size: 20px;
    }
    .featured__items {
        justify-content: center;
        grid-auto-flow: initial;
    }
    .featured__items_item {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .featured__items_item img {
        width: 100%;
        display: block;
    }
    .featured__item_hover img {
        width: 60px;
    }
}
@media (max-width: 1024px) {
    .header .container {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .header__logo {
        margin: 20px 0;
    }
    .support {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .support__item {
        width: 100%;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .support__item:nth-child(even)::before,
    .support__item:nth-child(even)::after {
        content: none;
    }
    .section__head span::before,
    .section__head span::after {
        content: none;
    }
    .summerCollection__catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        justify-items: flex-start;
        align-items: flex-start;
    }
}
@media (max-width: 840px) {
    .summerCollection__catalog {
        grid-template-columns: 1fr 1fr;
    }
    .catalog__image img {
        width: 100%;
    }
    .brands__gallery_item {
        width: 33.333%;
        text-align: center;
        margin-bottom: 25px;
    }
    .brands__gallery {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media (max-width: 640px) {
    .summerCollection__catalog {
        grid-template-columns: 1fr;
    }
    .footer .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        justify-items: flex-start;
        align-items: flex-start;
    }
    .reviews__block_wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .reviews__block_item {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .topLine__menu ul li a {
        font-size: 8px;
    }
    .topLine__menu ul li {
        padding: 0 15px;
    }
    .header__menu ul li {
        padding: 0 8px;
    }
    .header__menu ul li a {
        font-size: 15px;
    }
    .header__socials a {
        margin-right: 5px;
    }
    .header__socials_cart  {
        padding: 8px 14px 8px 14px;
    }
    .slick-slide {
        background-position: 10% 100% !important;
    }
    .brands__gallery_item {
        width: 50%;
    }
    .review__content_text {
        font-size: 15px;
        line-height: 24px;
    }
    .review__content_name {
        font-size: 24px;
    }
    .review__content_position {
        font-size: 12px;
    }
    .reviews__block:before {
        content: none;
    }
}
@media (max-width: 380px) {
    .brands__gallery_item {
        width: 100%;
    }
    .footer__column_socials a {
        width: 40px;
        height: 40px;
    }
    .footer__column_socials a .fa {
        line-height: 40px;
    }
    .reviews__block_item:nth-child(even),
    .reviews__block_item {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .review__picture {
        margin-bottom: 15px;
    }
    .section__head {
        font-size: 22px;
    }
    .catalog__buy_btn {
        font-size: 12px;
    }
}